langchain
langchain-classic
langchain-community
langchain-chroma
langchain-huggingface
chromadb
pypdf
sentence-transformers
streamlit
langchain-groq
python-dotenv
psycopg2-binary
fastapi
uvicorn
langchain-google-genai
langchain-experimental
rank-bm25
python-multipart
